.box {
  width: 100%; }

  .box-2 {
    padding: 1em 0; }

    .hide {
      display: none; }

      img {
        max-width: 100%; }

.login-page {
  background-image: url('/static/image/background.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden; }

  .login-form {
    background-color: #ccc;
    border: 1.5px solid #00F5FF;
    width: 40%;
    padding: 20px;
    margin: 40px;
    box-shadow: 2px 15px 70px #47B5FF;
    border-radius: 20px; }

    h1 {
      color: white; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #025f6f;
  position: relative;
  height: 100%; }

  * {
    font-family: 'Poppins', sans-serif; }

.wrap_user_name {
  display: flex;
  justify-content: center;
  align-items: center; }
  .wrap_user_name .notification_wrap {
    margin-right: 20px;
    cursor: pointer;
    position: relative; }
    @media only screen and (max-width: 600px) {
      .wrap_user_name .notification_wrap {
        margin-right: 15px;   }
}
      .wrap_user_name .notification_wrap .dot_new_noti.noti_new {
        position: absolute;
        width: 13px;
        height: 13px;
        background-color: red;
        border-radius: 50%;
        top: 3px;
        right: 4px;
        border: 1px solid #ccc; }
        .wrap_user_name .notification_wrap i {
          font-size: 30px; }

@media only screen and (max-width: 600px) {
  .landing_main {
    height: 50vh;   }
}
  @media (min-width: 601px) and (max-width: 1000px) {
    .landing_main {
      height: 80vh;   }
}
    .landing_main .home_title {
      font-size: 25px;
      font-weight: 500; }
      @media only screen and (max-width: 600px) {
        .landing_main .home_title {
          display: none;   }
}
        @media (min-width: 601px) and (max-width: 1000px) {
          .landing_main .home_title {
            display: none;   }
}
.landing_main #item_nav:nth-child(2) {
  margin: 0 20px; }
  @media only screen and (max-width: 600px) {
    .landing_main #item_nav:nth-child(2) {
      margin: 0 10px;   }
}
    @media (min-width: 601px) and (max-width: 1000px) {
      .landing_main #item_nav:nth-child(2) {
        margin: 0 10px;   }
}
.landing_main .hom_img_avatar {
  width: 50px;
  height: 50px; }
  @media only screen and (max-width: 600px) {
    .landing_main .hom_img_avatar {
      width: 35px;
      height: 35px;
      margin-right: 10px;   }
}
.landing_main #item_nav {
  font-size: 20px; }
  @media only screen and (max-width: 600px) {
    .landing_main #item_nav {
      font-size: 16px;   }
}
    @media (min-width: 601px) and (max-width: 1000px) {
      .landing_main #item_nav {
        font-size: 20px;   }
}
@media only screen and (max-width: 600px) {
  .landing_main .nav_content {
    margin-top: 10px;   }
}
.landing_main #username_login {
  font-size: 20px;
  margin-left: 10px; }
  @media only screen and (max-width: 600px) {
    .landing_main #username_login {
      display: none;   }
}
.landing_main .home_nav_group {
  padding-left: 50px; }
  @media only screen and (max-width: 600px) {
    .landing_main .home_nav_group {
      padding-left: 10px;   }
}
    @media (min-width: 601px) and (max-width: 1000px) {
      .landing_main .home_nav_group {
        padding-left: 0px;   }
}

.content {
  padding: 5px 50px 50px 50px; }
  @media only screen and (max-width: 600px) {
    .content {
      padding: 5px;   }
}
    @media (min-width: 601px) and (max-width: 1000px) {
      .content {
        padding: 15px;   }
}
      @media (min-width: 1001px) and (max-width: 1240px) {
        .content {
          padding: 20px;   }
}
        .content #train_name {
          display: flex;
          padding: 10px 0;
          border-radius: 10px; }
          @media only screen and (max-width: 600px) {
            .content #train_name {
              display: block;
              padding: 5px;   }
}
            @media (min-width: 601px) and (max-width: 1000px) {
              .content #train_name {
                display: block;
                padding: 5px;   }
}
              .content #train_name .seen-sataus {
                color: orange;
                font-weight: 500;
                cursor: pointer;
                display: inline-block; }
                .content #train_name .seen-sataus:hover {
                  color: red; }
          .content #train_name .train_name-form-body {
            color: white; }
            .content #train_name .train_title {
              font-size: 30px;
              margin: 0;
              font-weight: bold; }
              @media only screen and (max-width: 600px) {
                .content #train_name .train_title {
                  font-size: 20px;
                  font-weight: 600;   }
}
                @media (min-width: 601px) and (max-width: 1000px) {
                  .content #train_name .train_title {
                    font-size: 25px;
                    font-weight: 600;   }
}
                  @media (min-width: 1001px) and (max-width: 1240px) {
                    .content #train_name .train_title {
                      font-size: 30px;
                      font-weight: 600;   }
}
          .content #train_name #btn_complete {
            border: 1.5px solid #25f192; }
            @media only screen and (max-width: 600px) {
              .content #train_name #btn_complete {
                font-size: 14px !important;   }
}
          .content #train_name-info {
            width: 50%;
            margin-right: 40px; }
            @media only screen and (max-width: 600px) {
              .content #train_name-info {
                width: 100%;
                margin-right: 0px;   }
}
              @media (min-width: 601px) and (max-width: 1000px) {
                .content #train_name-info {
                  width: 100%;
                  margin-right: 0px;   }
}
                .content #train_name-info h3 {
                  font-size: 50px; }
                  .content #train_name-info p {
                    margin-top: 20px;
                    font-size: 20px;
                    text-align: justify; }
                    @media only screen and (max-width: 600px) {
                      .content #train_name-info p {
                        font-size: 16px;   }
}
                      @media (min-width: 601px) and (max-width: 1000px) {
                        .content #train_name-info p {
                          font-size: 16px;   }
}
          .content #train_name-form {
            width: 50%;
            border: 1px solid white;
            border-radius: 20px;
            padding: 20px;
            background-color: #12635e;
            border: 2px solid #7bc3be;
            box-shadow: -2px 3px 21px 2px #269b93; }
            @media only screen and (max-width: 600px) {
              .content #train_name-form {
                padding: 10px;
                width: 100%;   }
}
              @media (min-width: 601px) and (max-width: 1000px) {
                .content #train_name-form {
                  padding: 10px;
                  width: 100%;   }
}
  .content .profile_fish {
    display: flex; }
  .content #info_fish {
    margin-bottom: 40px; }
    @media only screen and (max-width: 600px) {
      .content #info_fish {
        border-radius: 10px;
        padding: 0px;
        border: none;
        background: none;
        box-shadow: none;
        margin-bottom: 10px;   }
}
      @media (min-width: 601px) and (max-width: 1000px) {
        .content #info_fish {
          border-radius: 10px;
          padding: 0px;
          border: none;
          background: none;
          box-shadow: none;
          margin-bottom: 10px;   }
}
        .content #info_fish .btn_all_profile {
          display: inline-block;
          border: 2px solid #bce9ac;
          background-color: #198754;
          padding: 8px 38px;
          font-size: 17px;
          border-radius: 25px;
          font-weight: 700;
          color: white;
          box-shadow: -2px 3px 21px 2px #269b93;
          margin: 20px 30px; }
          .content #info_fish .btn_all_profile:hover {
            background-color: #47cf32;
            color: white; }
    .content #info_fish .slider_wrapper {
      display: flex;
      text-align: left; }
      @media only screen and (max-width: 600px) {
        .content #info_fish .slider_wrapper {
          display: flex;
          flex-direction: column-reverse;   }
}
        @media (min-width: 601px) and (max-width: 1000px) {
          .content #info_fish .slider_wrapper {
            display: flex;
            flex-direction: column-reverse;   }
}
    .content #info_fish .slider_content {
      width: 50%;
      padding-left: 60px;
      padding-right: 30px; }
      @media only screen and (max-width: 600px) {
        .content #info_fish .slider_content {
          position: absolute;
          top: 130px;
          left: 22px;
          z-index: 10000;
          padding-left: 10px;
          padding-right: 10px;   }
}
        @media (min-width: 601px) and (max-width: 1000px) {
          .content #info_fish .slider_content {
            position: absolute;
            top: 160px;
            left: 30px;
            z-index: 10000;
            padding-left: 10px;
            padding-right: 10px;   }
}
    .content #info_fish .slider_description {
      text-align: justify;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      line-clamp: 5;
      -webkit-box-orient: vertical; }
      @media only screen and (max-width: 600px) {
        .content #info_fish .slider_description {
          display: none;   }
}
        @media (min-width: 601px) and (max-width: 1000px) {
          .content #info_fish .slider_description {
            display: none;   }
}
    .content #info_fish .slider_image {
      width: 50%;
      padding-right: 60px; }
      @media only screen and (max-width: 600px) {
        .content #info_fish .slider_image {
          position: relative;
          padding: 10px;
          width: 100%;   }
}
        @media (min-width: 601px) and (max-width: 1000px) {
          .content #info_fish .slider_image {
            position: relative;
            padding: 10px;
            width: 100%;   }
}
          .content #info_fish .slider_image img {
            border-radius: 20px;
            object-fit: cover;
            height: 350px;
            width: 100%; }
            @media only screen and (max-width: 600px) {
              .content #info_fish .slider_image img {
                position: relative;
                height: 200px;
                width: 1000px;
                border-radius: 10px;   }
}
              @media (min-width: 601px) and (max-width: 1000px) {
                .content #info_fish .slider_image img {
                  position: relative;
                  height: 300px;
                  width: 1200px;
                  border-radius: 10px;   }
}
    .content #info_fish .slider_button {
      padding: 8px 20px;
      color: white;
      border: 1.5px solid white;
      outline: none;
      background: #025f6f;
      border-radius: 10px; }
      @media only screen and (max-width: 600px) {
        .content #info_fish .slider_button {
          font-size: 10px;
          padding: 5px 10px;   }
}
        @media (min-width: 601px) and (max-width: 1000px) {
          .content #info_fish .slider_button {
            font-size: 14px;
            padding: 5px 10px;   }
}
    .content #info_fish .slider_name_title {
      font-size: 50px;
      font-weight: 700;
      text-shadow: 1px 1px 2px pink; }
      @media only screen and (max-width: 600px) {
        .content #info_fish .slider_name_title {
          margin: 0px;
          font-size: 20px;   }
}
        @media (min-width: 601px) and (max-width: 1000px) {
          .content #info_fish .slider_name_title {
            margin: 0px;
            font-size: 25px;   }
}

#profile_fish_wrap {
  margin-bottom: 50px; }
  @media only screen and (max-width: 600px) {
    #profile_fish_wrap {
      margin-bottom: 30px;   }
}
    @media (min-width: 601px) and (max-width: 1000px) {
      #profile_fish_wrap {
        margin-bottom: 30px;   }
}

.title_info_fish_wrap {
  border: 1px solid white; }

  .title_info_fish {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700; }
    @media only screen and (max-width: 600px) {
      .title_info_fish {
        margin-top: 30px;   }
}
      @media (min-width: 601px) and (max-width: 1000px) {
        .title_info_fish {
          margin-top: 30px;   }
}

.train_name_wrap {
  background-color: #0a645c;
  border: 1px solid #7bc3be;
  padding: 15px 25px;
  box-shadow: 1px 3px 21px #48bf88; }
  @media only screen and (max-width: 600px) {
    .train_name_wrap {
      padding: 5px;   }
}
    @media (min-width: 601px) and (max-width: 1000px) {
      .train_name_wrap {
        padding: 10px;   }
}

.train_name-header {
  margin-bottom: 20px; }
  .train_name-header div {
    border: 1.5px solid #1dc577;
    width: 100%;
    padding: 10px;
    background-color: #009688; }
    @media only screen and (max-width: 600px) {
      .train_name-header div {
        padding: 5px;   }
}
      @media (min-width: 601px) and (max-width: 1000px) {
        .train_name-header div {
          padding: 5px;   }
}
  .train_name-header p {
    font-size: 25px;
    margin: 0;
    text-align: center;
    font-weight: 700; }
    @media only screen and (max-width: 600px) {
      .train_name-header p {
        font-size: 18px;   }
}
      @media (min-width: 601px) and (max-width: 1000px) {
        .train_name-header p {
          font-size: 20px;   }
}

.header_wrap {
  background-color: #26bf7f;
  height: 80px; }
  .header_wrap .header_detail_info {
    padding: 25px 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 600px) {
      .header_wrap .header_detail_info {
        padding: 25px 10px 0;   }
}
      .header_wrap .header_detail_info img {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        border: 5px solid #26bf7f; }
        .header_wrap .header_detail_info .delete_info {
          background-color: #eb4242; }
          .header_wrap .header_detail_info button {
            border: 2px solid #bce9ac;
            background-color: #4299eb;
            padding: 5px 39px;
            font-size: 18px;
            border-radius: 19px;
            font-weight: 600;
            color: white;
            box-shadow: -2px 3px 21px 2px #56947f; }
            @media only screen and (max-width: 600px) {
              .header_wrap .header_detail_info button {
                font-size: 12px;
                padding: 5px 10px;   }
}
              @media (min-width: 601px) and (max-width: 1000px) {
                .header_wrap .header_detail_info button {
                  font-size: 18px;   }
}
                .header_wrap .header_detail_info button:hover {
                  background-color: orange;
                  color: white; }

.info_content_detail {
  color: black;
  margin-top: 65px;
  padding: 0 20px 20px; }
  .info_content_detail p {
    margin: 5px 0px;
    font-size: 18px; }

.form-label {
  font-size: 20px; }
  @media only screen and (max-width: 600px) {
    .form-label {
      font-size: 16px;   }
}
    @media (min-width: 601px) and (max-width: 1000px) {
      .form-label {
        font-size: 16px;   }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);   }
    100% {
      -webkit-transform: rotate(360deg);   }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);   }
    100% {
      transform: rotate(360deg);   }
}

input[type="date"]::-webkit-datetime-edit,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  color: #fff;
  position: relative; }

  input[type="date"]::-webkit-datetime-edit-year-field {
    position: absolute !important;
    padding-left: 8px;
    color: #000;
    left: 65px; }

    input[type="date"]::-webkit-datetime-edit-month-field {
      position: absolute !important;
      padding-left: 8px;
      color: #000;
      left: 25px; }

      input[type="date"]::-webkit-datetime-edit-day-field {
        position: absolute !important;
        color: #000;
        left: 4px; }

        .date-selector {
          position: relative; }

          .date-selector > input[type=date] {
            text-indent: -500px; }

            ::-webkit-scrollbar-track {
              -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
              background-color: #68db8e; }

              ::-webkit-scrollbar {
                width: 10px;
                background-color: #f5f5f5; }

                ::-webkit-scrollbar-thumb {
                  cursor: pointer;
                  background-color: white;
                  background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#34a023), to(#118014),
                                    color-stop(0.6, #3cc545)); }

                  input[type="color"] {
                    display: block;
                    width: 50px;
                    height: 50px;
                    border: none;
                    background: none;
                    cursor: pointer; }
                    @media only screen and (max-width: 600px) {
                      input[type="color"] {
                        width: 40px;
                        height: 40px;   }
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0; }

  input[type="color"]::-webkit-color-swatch {
    border: solid 2px #17d243;
    border-radius: 50%; }
    @media only screen and (max-width: 600px) {
      input[type="color"]::-webkit-color-swatch {
        border-radius: 50%;   }
}

input[type="color"], input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="email"], input[type="month"],
input[type="number"], input[type="password"], input[type="search"],
input[type="tel"], input[type="text"], input[type="time"], input[type="url"],
input[type="week"], select:focus, textarea {
  font-size: 16px; }

  input[type="date"], input[type="time"] {
    -webkit-appearance: none; }

    .owl-carousel p {
      margin: 0; }
      .owl-carousel .item {
        background-color: white;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 30px;
        overflow: hidden;
        border-width: 2px solid #12611d; }
        .owl-carousel .item .avatar {
          height: 35%;
          background-color: #3bbf81;
          display: flex;
          border-bottom-left-radius: 30px;
          border-bottom-right-radius: 30px; }
          .owl-carousel .item .avatar img {
            margin: auto;
            width: 130px;
            height: 130px;
            border-radius: 50%;
            border: 3px solid white;
            object-fit: fill;
            box-shadow: -2px 3px 40px 2px #055160;
            position: relative;
            top: 35px; }
        .owl-carousel .item .content_profile {
          display: flex;
          flex-direction: column;
          text-align: center;
          height: 65%;
          color: black;
          background-color: white;
          padding-top: 55px; }
          .owl-carousel .item .content_profile h4 {
            margin: 0;
            font-weight: 700;
            color: #0f5132; }
            .owl-carousel .item .content_profile .fish_name_origin {
              font-weight: 500;
              margin-top: 5px; }
              .owl-carousel .item .content_profile .note_profile {
                flex: 1;
                margin: 8px 30px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical; }
                .owl-carousel .item .content_profile button {
                  border: 1px solid #bce9ac;
                  background-color: #1dc577;
                  padding: 10px 20px;
                  font-size: 17px;
                  border-radius: 25px;
                  font-weight: bold;
                  color: white;
                  box-shadow: -2px 3px 21px 2px #269b93;
                  margin: 0 45px 30px; }
                  .owl-carousel .item .content_profile button:hover {
                    background-color: #47cf32;
                    color: white; }

#wrap_my_carousel p {
  margin: 0; }
  #wrap_my_carousel .item {
    margin-top: 25px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px; }
    #wrap_my_carousel .item .avatar {
      background-color: #3bbf81;
      display: flex; }
      #wrap_my_carousel .item .avatar img {
        margin: auto;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        border: 3px solid white;
        object-fit: fill;
        box-shadow: -2px 3px 40px 2px #055160;
        position: relative;
        top: 35px; }
    #wrap_my_carousel .item .content_profile {
      display: flex;
      flex-direction: column;
      height: 266px;
      text-align: center;
      color: black;
      background-color: white;
      padding-top: 55px; }
      #wrap_my_carousel .item .content_profile h4 {
        margin: 0;
        font-weight: 700;
        color: #0f5132; }
        #wrap_my_carousel .item .content_profile .fish_name_origin {
          font-weight: 500;
          margin-top: 5px; }
          #wrap_my_carousel .item .content_profile .note_profile {
            flex: 1;
            margin: 8px 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical; }
            #wrap_my_carousel .item .content_profile button {
              border: 1px solid #bce9ac;
              background-color: #1dc577;
              padding: 10px 20px;
              font-size: 17px;
              border-radius: 25px;
              font-weight: bold;
              color: white;
              box-shadow: -2px 3px 21px 2px #269b93;
              margin: 17px 25px 25px; }
              #wrap_my_carousel .item .content_profile button:hover {
                background-color: #47cf32;
                color: white; }

.hide_element {
  display: none; }

a {
  text-decoration: none !important;
  color: white !important; }

  .monitor_wrap {
    padding: 30px 20px; }
    @media only screen and (max-width: 600px) {
      .monitor_wrap {
        padding: 16px;   }
}
      @media (min-width: 601px) and (max-width: 1000px) {
        .monitor_wrap {
          padding: 16px;   }
}
        .monitor_wrap #monitoring_page {
          border: 1px solid #7bc3be;
          box-shadow: -2px 3px 21px 2px #269b93;
          margin-top: 20px; }
          @media only screen and (max-width: 600px) {
            .monitor_wrap #monitoring_page {
              margin-top: 10px;   }
}
            @media (min-width: 601px) and (max-width: 1000px) {
              .monitor_wrap #monitoring_page {
                margin-top: 10px;   }
}
              .monitor_wrap #monitoring_page .btn_press_food {
                position: relative;
                display: inline-block;
                cursor: pointer;
                outline: none;
                border: 0;
                vertical-align: middle;
                text-decoration: none;
                font-size: inherit;
                font-family: inherit; }
                .monitor_wrap #monitoring_page .btn_press_food {
                  font-weight: 600;
                  color: #382b22;
                  text-transform: uppercase;
                  padding: 5px 10px;
                  font-size: 14px;
                  background: #fff0f0;
                  border: 2px solid #ffc107;
                  border-radius: 0.68em;
                  transition: transform 0.15s;
                  transform-style: preserve-3d; }
                  @media only screen and (max-width: 600px) {
                    .monitor_wrap #monitoring_page .btn_press_food {
                      font-size: 10px;
                      font-weight: 500;
                      padding: 2px 5px;   }
}
          .monitor_wrap #monitoring_page button.btn_press_food:hover {
            background: #ffe9e9;
            transform: translate(0, 0.25em); }
            .monitor_wrap #monitoring_page button.btn_press_food:hover::before {
              transform: translate3d(0, 0.5em, -1em); }
              .monitor_wrap #monitoring_page button.btn_press_food:active {
                background: #ffe9e9;
                transform: translate(0em, 0.68em); }
                .monitor_wrap #monitoring_page button.btn_press_food:active::before {
                  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
                  transform: translate3d(0, 0, -1em); }
                  .monitor_wrap #monitoring_page .img_chat_bot {
                    width: 80px;
                    height: 80px;
                    position: fixed;
                    z-index: 100000000000000000;
                    bottom: 34px;
                    right: 41px;
                    cursor: pointer; }
                    @media only screen and (max-width: 600px) {
                      .monitor_wrap #monitoring_page .img_chat_bot {
                        margin-top: 10px;
                        width: 50px;
                        height: 50px;
                        position: fixed;
                        z-index: 100000000000000000;
                        bottom: 34px;
                        right: 35px;   }
}
          .monitor_wrap #monitoring_page #camera {
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; }
            @media only screen and (max-width: 600px) {
              .monitor_wrap #monitoring_page #camera {
                padding: 5px;   }
}
              @media (min-width: 601px) and (max-width: 1000px) {
                .monitor_wrap #monitoring_page #camera {
                  padding: 5px;   }
}
                .monitor_wrap #monitoring_page #camera #camera_btn {
                  display: flex;
                  align-items: center;
                  justify-content: center; }
                  .monitor_wrap #monitoring_page #camera .camera-btn_group {
                    display: flex;
                    border: 1.5px solid #25f192; }
                    .monitor_wrap #monitoring_page #camera #camera_open {
                      height: 100%; }
                      .monitor_wrap #monitoring_page #camera .btn_detect_camera {
                        background-color: #0d995a; }
                        .monitor_wrap #monitoring_page #camera .btn_start_camera:hover {
                          background-color: orange; }
                          .monitor_wrap #monitoring_page #camera .btn_stop_camera {
                            background-color: #0d995a; }
                            .monitor_wrap #monitoring_page #camera .btn_stop_camera:hover {
                              transition: all 0.5 ease-in;
                              background-color: #b11111; }
                              .monitor_wrap #monitoring_page #camera .btn_detect_camera:hover {
                                transition: all 0.5 ease-in;
                                background-color: #11b1b1; }
                                .monitor_wrap #monitoring_page #camera #shape_camera {
                                  box-shadow: -2px 3px 21px 2px #38604e;
                                  border: 1.5px solid #4b7d67;
                                  width: 100%;
                                  height: 100%;
                                  margin-bottom: 10px;
                                  border-radius: 20px;
                                  overflow: hidden;
                                  background-color: #38604e;
                                  display: flex;
                                  flex-direction: column; }
                                  .monitor_wrap #monitoring_page #camera #shape_camera_fish_die {
                                    box-shadow: -2px 3px 21px 2px #38604e;
                                    border: 1.5px solid #4b7d67;
                                    width: 100%;
                                    height: 100%;
                                    margin-bottom: 10px;
                                    border-radius: 20px;
                                    overflow: hidden;
                                    background-color: #38604e;
                                    display: flex;
                                    flex-direction: column; }
                                    .monitor_wrap #monitoring_page #camera #shape_camera_none {
                                      box-shadow: -2px 3px 21px 2px #377D71;
                                      border: 1.5px solid #46a579;
                                      width: 100%;
                                      height: 100%;
                                      margin-bottom: 10px;
                                      border-radius: 20px;
                                      overflow: hidden;
                                      background-color: #377D71;
                                      display: none;
                                      flex-direction: column;
                                      justify-content: center;
                                      text-align: center; }
                                      @media only screen and (max-width: 600px) {
                                        .monitor_wrap #monitoring_page #camera #shape_camera_none {
                                          height: 300px;   }
}
                                        @media (min-width: 601px) and (max-width: 1000px) {
                                          .monitor_wrap #monitoring_page #camera #shape_camera_none {
                                            height: 400px;   }
}
          .monitor_wrap #monitoring_page #food_render {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; }
            @media only screen and (max-width: 600px) {
              .monitor_wrap #monitoring_page #food_render {
                padding: 5px;   }
}
              @media (min-width: 601px) and (max-width: 1000px) {
                .monitor_wrap #monitoring_page #food_render {
                  padding: 5px;   }
}
                .monitor_wrap #monitoring_page #food_render table {
                  background-color: #037c71;
                  color: white; }
                  @media only screen and (max-width: 600px) {
                    .monitor_wrap #monitoring_page #food_render table {
                      margin: 0;   }
}
                    @media (min-width: 601px) and (max-width: 1000px) {
                      .monitor_wrap #monitoring_page #food_render table {
                        margin: 0;   }
}
                      .monitor_wrap #monitoring_page #food_render table th {
                        font-size: 20px; }
                        @media only screen and (max-width: 600px) {
                          .monitor_wrap #monitoring_page #food_render table th {
                            font-size: 13px;   }
}
                  .monitor_wrap #monitoring_page #food_render table td {
                    font-size: 18px; }
                    @media only screen and (max-width: 600px) {
                      .monitor_wrap #monitoring_page #food_render table td {
                        font-size: 13px;   }
}
                      .monitor_wrap #monitoring_page #food_render table td span {
                        padding: 3px 10px;
                        font-weight: 500;
                        font-size: 14px; }
                        @media only screen and (max-width: 600px) {
                          .monitor_wrap #monitoring_page #food_render table td span {
                            font-size: 10px;   }
}
          @media only screen and (max-width: 600px) {
            .monitor_wrap #monitoring_page #food_chart {
              padding: 5px;   }
}
            @media (min-width: 601px) and (max-width: 1000px) {
              .monitor_wrap #monitoring_page #food_chart {
                padding: 5px;   }
}
          .monitor_wrap #monitoring_page #control {
            text-align: center;
            display: flex;
            padding: 10px;
            align-content: space-between;
            flex-direction: column; }
            @media only screen and (max-width: 600px) {
              .monitor_wrap #monitoring_page #control {
                padding: 5px;   }
}
              @media (min-width: 601px) and (max-width: 1000px) {
                .monitor_wrap #monitoring_page #control {
                  padding: 5px;   }
}
                .monitor_wrap #monitoring_page #control .button_control {
                  width: 33.33333%;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-around; }
                  .monitor_wrap #monitoring_page #control .group_btn_control {
                    display: flex;
                    justify-content: space-between; }
                    .monitor_wrap #monitoring_page #control .control_text_state {
                      font-size: 25px;
                      margin: 0px;
                      font-weight: bold; }
                      @media only screen and (max-width: 600px) {
                        .monitor_wrap #monitoring_page #control .control_text_state {
                          font-size: 16px;   }
}
                        @media (min-width: 1001px) and (max-width: 1240px) {
                          .monitor_wrap #monitoring_page #control .control_text_state {
                            font-size: 18px;   }
}
            .monitor_wrap #monitoring_page #control .control_text_who {
              font-size: 18px;
              margin: 0;
              text-align: left;
              font-weight: 500;
              margin-top: 15px;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              line-clamp: 1;
              -webkit-box-orient: vertical; }
              @media only screen and (max-width: 600px) {
                .monitor_wrap #monitoring_page #control .control_text_who {
                  font-size: 14px;
                  margin-top: 10px;   }
}
                @media (min-width: 1001px) and (max-width: 1240px) {
                  .monitor_wrap #monitoring_page #control .control_text_who {
                    font-size: 15px;   }
}
            .monitor_wrap #monitoring_page #control .button_control:nth-child(2) {
              margin: 0 18px; }
              @media only screen and (max-width: 600px) {
                .monitor_wrap #monitoring_page #control .button_control:nth-child(2) {
                  margin: 0 5px;   }
}
                @media (min-width: 601px) and (max-width: 1000px) {
                  .monitor_wrap #monitoring_page #control .button_control:nth-child(2) {
                    margin: 0 10px;   }
}
                  @media (min-width: 1001px) and (max-width: 1240px) {
                    .monitor_wrap #monitoring_page #control .button_control:nth-child(2) {
                      margin: 0 5px;   }
}
            .monitor_wrap #monitoring_page #control #switch {
              border: 1px solid white;
              height: 50px; }
              .monitor_wrap #monitoring_page #control .form-check-input:checked {
                background-color: #cd812b;
                border: white; }
                .monitor_wrap #monitoring_page #control .control_switch {
                  border: 1.5px solid #1dc577;
                  background-color: #198754;
                  box-shadow: 0px 3px 21px 2px #19c273;
                  display: inline-block;
                  padding: 0;
                  border-radius: 10px;
                  padding: 15px;
                  display: flex; }
                  @media only screen and (max-width: 600px) {
                    .monitor_wrap #monitoring_page #control .control_switch {
                      padding: 8px;   }
}
                    @media (min-width: 601px) and (max-width: 1000px) {
                      .monitor_wrap #monitoring_page #control .control_switch {
                        padding: 8px;   }
}
            .monitor_wrap #monitoring_page #control .control_switch-off {
              border: 1.5px solid #899e94;
              background-color: #6c757d;
              box-shadow: -2px 3px 21px 2px #90a5b8;
              display: inline-block;
              padding: 0;
              border-radius: 10px;
              padding: 15px;
              display: flex; }
              @media only screen and (max-width: 600px) {
                .monitor_wrap #monitoring_page #control .control_switch-off {
                  padding: 8px;   }
}
                @media (min-width: 601px) and (max-width: 1000px) {
                  .monitor_wrap #monitoring_page #control .control_switch-off {
                    padding: 8px;   }
}
            .monitor_wrap #monitoring_page #control .control_switch-checkbox {
              font-size: 35px;
              cursor: pointer;
              margin: 0;
              padding: 0; }
              @media only screen and (max-width: 600px) {
                .monitor_wrap #monitoring_page #control .control_switch-checkbox {
                  font-size: 25px;
                  margin-left: 5px;   }
}
                @media (min-width: 601px) and (max-width: 1000px) {
                  .monitor_wrap #monitoring_page #control .control_switch-checkbox {
                    font-size: 30px;
                    margin-left: 5px;   }
}
                  @media (min-width: 1001px) and (max-width: 1240px) {
                    .monitor_wrap #monitoring_page #control .control_switch-checkbox {
                      font-size: 30px;
                      margin-left: 5px;   }
}
            .monitor_wrap #monitoring_page #control .control_time {
              border: 1.5px solid #0ca799;
              background-color: #037c71;
              box-shadow: -2px 3px 21px 2px #0e9286;
              display: inline-block;
              padding: 0;
              margin-top: 20px;
              border-radius: 10px;
              padding: 15px;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              height: 100%; }
              @media only screen and (max-width: 600px) {
                .monitor_wrap #monitoring_page #control .control_time {
                  padding: 8px;
                  margin-top: 10px;   }
}
                @media (min-width: 601px) and (max-width: 1000px) {
                  .monitor_wrap #monitoring_page #control .control_time {
                    padding: 8px;
                    margin-top: 10px;   }
}
                  .monitor_wrap #monitoring_page #control .control_time .text_food_setting {
                    font-size: 18px; }
                    @media only screen and (max-width: 600px) {
                      .monitor_wrap #monitoring_page #control .control_time .text_food_setting {
                        font-size: 16px;   }
}
                      @media (min-width: 601px) and (max-width: 1000px) {
                        .monitor_wrap #monitoring_page #control .control_time .text_food_setting {
                          font-size: 16px;   }
}
              .monitor_wrap #monitoring_page #control .control_time-title {
                text-align: left;
                font-size: 27px;
                margin-top: 20px;
                margin: 0px;
                font-weight: 500; }
                @media only screen and (max-width: 600px) {
                  .monitor_wrap #monitoring_page #control .control_time-title {
                    margin-top: 10px;
                    font-size: 18px;
                    margin-bottom: 10px;   }
}
                  @media (min-width: 601px) and (max-width: 1000px) {
                    .monitor_wrap #monitoring_page #control .control_time-title {
                      margin-top: 10px;
                      font-size: 25px;
                      margin-bottom: 10px;   }
}
                    @media (min-width: 1001px) and (max-width: 1240px) {
                      .monitor_wrap #monitoring_page #control .control_time-title {
                        margin-top: 10px;
                        font-size: 25px;
                        margin-bottom: 10px;   }
}
              .monitor_wrap #monitoring_page #control .control_time-item {
                margin: 10px 0;
                text-align: left; }
                @media only screen and (max-width: 600px) {
                  .monitor_wrap #monitoring_page #control .control_time-item {
                    margin: 10px 0px;   }
}
                  @media (min-width: 601px) and (max-width: 1000px) {
                    .monitor_wrap #monitoring_page #control .control_time-item {
                      margin: 10px 0px;   }
}
                    @media (min-width: 1001px) and (max-width: 1240px) {
                      .monitor_wrap #monitoring_page #control .control_time-item {
                        margin: 10px 0px;   }
}
                      .monitor_wrap #monitoring_page #control .control_time-item table {
                        margin: 20px 0; }
                        @media only screen and (max-width: 600px) {
                          .monitor_wrap #monitoring_page #control .control_time-item table {
                            margin: 10px 0px;   }
}
                          @media (min-width: 601px) and (max-width: 1000px) {
                            .monitor_wrap #monitoring_page #control .control_time-item table {
                              margin: 10px 0px;   }
}
                            @media only screen and (max-width: 600px) {
                              .monitor_wrap #monitoring_page #control .control_time-item table td {
                                font-size: 13px;   }
}
                .monitor_wrap #monitoring_page #control .control_time-item #label_btn_setting_food {
                  font-size: 20px; }
                  @media only screen and (max-width: 600px) {
                    .monitor_wrap #monitoring_page #control .control_time-item #label_btn_setting_food {
                      font-size: 14px;   }
}
            .monitor_wrap #monitoring_page #control .control_lamp_icon {
              font-size: 30px; }
              @media only screen and (max-width: 600px) {
                .monitor_wrap #monitoring_page #control .control_lamp_icon {
                  display: none;   }
}
          .monitor_wrap #monitoring_page .monitoring-header {
            padding: 10px; }
            @media only screen and (max-width: 600px) {
              .monitor_wrap #monitoring_page .monitoring-header {
                padding: 5px;   }
}
              @media (min-width: 601px) and (max-width: 1000px) {
                .monitor_wrap #monitoring_page .monitoring-header {
                  padding: 5px;   }
}
                .monitor_wrap #monitoring_page .monitoring-header div {
                  border: 1.5px solid #1dc577;
                  width: 100%;
                  padding: 10px;
                  background-color: #009688; }
                  @media only screen and (max-width: 600px) {
                    .monitor_wrap #monitoring_page .monitoring-header div {
                      padding: 5px;   }
}
                    @media (min-width: 601px) and (max-width: 1000px) {
                      .monitor_wrap #monitoring_page .monitoring-header div {
                        padding: 5px;   }
}
            .monitor_wrap #monitoring_page .monitoring-header p {
              font-size: 25px;
              margin: 0;
              font-weight: 700;
              text-align: center; }
              @media only screen and (max-width: 600px) {
                .monitor_wrap #monitoring_page .monitoring-header p {
                  font-size: 18px;   }
}
                @media (min-width: 601px) and (max-width: 1000px) {
                  .monitor_wrap #monitoring_page .monitoring-header p {
                    font-size: 20px;   }
}

.nav_monitoring_page .item_nav_title {
  font-size: 25px;
  font-weight: 500; }
  @media only screen and (max-width: 600px) {
    .nav_monitoring_page .item_nav_title {
      display: none;   }
}
    @media (min-width: 601px) and (max-width: 1000px) {
      .nav_monitoring_page .item_nav_title {
        display: none;   }
}
.nav_monitoring_page .wrap_user_name {
  display: flex;
  justify-content: center;
  align-items: center; }
  .nav_monitoring_page .wrap_user_name .notification_wrap {
    margin-right: 20px;
    cursor: pointer;
    position: relative; }
    @media only screen and (max-width: 600px) {
      .nav_monitoring_page .wrap_user_name .notification_wrap {
        margin-right: 15px;   }
}
      .nav_monitoring_page .wrap_user_name .notification_wrap .dot_new_noti.noti_new {
        position: absolute;
        width: 13px;
        height: 13px;
        background-color: red;
        border-radius: 50%;
        top: 3px;
        right: 4px;
        border: 1px solid #ccc; }
        .nav_monitoring_page .wrap_user_name .notification_wrap i {
          font-size: 30px; }
.nav_monitoring_page .nav_img_avatar {
  width: 45px;
  height: 45px; }
  @media only screen and (max-width: 600px) {
    .nav_monitoring_page .nav_img_avatar {
      width: 35px;
      height: 35px;   }
}
    @media (min-width: 601px) and (max-width: 1000px) {
      .nav_monitoring_page .nav_img_avatar {
        width: 40px;
        height: 40px;   }
}
.nav_monitoring_page .nav_item_group {
  padding-left: 30px; }
  @media only screen and (max-width: 600px) {
    .nav_monitoring_page .nav_item_group {
      padding-left: 0px;   }
}
    @media (min-width: 601px) and (max-width: 1000px) {
      .nav_monitoring_page .nav_item_group {
        padding-left: 0px;   }
}
.nav_monitoring_page #username_login {
  font-size: 20px;
  margin-left: 10px; }
  @media only screen and (max-width: 600px) {
    .nav_monitoring_page #username_login {
      display: none;   }
}
    @media (min-width: 601px) and (max-width: 1000px) {
      .nav_monitoring_page #username_login {
        display: none;   }
}
.nav_monitoring_page #item_nav {
  font-weight: 500;
  font-size: 20px; }
  @media only screen and (max-width: 600px) {
    .nav_monitoring_page #item_nav {
      font-size: 16px;   }
}
    @media (min-width: 601px) and (max-width: 1000px) {
      .nav_monitoring_page #item_nav {
        font-size: 20px;   }
}
.nav_monitoring_page #item_nav:nth-child(2) {
  margin: 0 20px; }
  @media (min-width: 601px) and (max-width: 1000px) {
    .nav_monitoring_page #item_nav:nth-child(2) {
      margin: 0 20px;   }
}
    @media only screen and (max-width: 600px) {
      .nav_monitoring_page #item_nav:nth-child(2) {
        margin: 0 10px;   }
}
.nav_monitoring_page #item_nav:hover {
  background-color: #67e3e8;
  border-radius: 18px;
  padding: 5px 10px;
  transition: all linear 0.25s;
  color: #18586d !important;
  border: 2px solid #31E1F7; }
  @media only screen and (max-width: 600px) {
    .nav_monitoring_page #item_nav:hover {
      padding: 5px 10px;   }
}
    @media (min-width: 601px) and (max-width: 1000px) {
      .nav_monitoring_page #item_nav:hover {
        padding: 5px 10px;   }
}
.nav_monitoring_page .landing_nav-bar {
  width: 100%;
  height: 75px;
  border-bottom: 1px solid #43efbb;
  background: #187158;
  box-shadow: 3px 8px 22px #20c997; }
  @media only screen and (max-width: 600px) {
    .nav_monitoring_page .landing_nav-bar {
      height: 60px;   }
}
    @media (min-width: 601px) and (max-width: 1000px) {
      .nav_monitoring_page .landing_nav-bar {
        height: 60px;   }
}
.nav_monitoring_page .nav_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 93%;
  margin: 0 auto; }
  .nav_monitoring_page .landing_nav-bar-body {
    padding: 0 100px; }
    .nav_monitoring_page .button_custom, .nav_monitoring_page .landing_register,
    .nav_monitoring_page .landing_login, .nav_monitoring_page .landing_explore {
      background-color: transparent;
      border: 1.5px solid white;
      border-radius: 30px;
      padding: 8px 20px;
      font-size: 16px;
      color: white;
      cursor: pointer;
      outline: none;
      font-weight: 500; }
      .nav_monitoring_page button:hover {
        opacity: 0.8;
        color: white; }
        .nav_monitoring_page .landing_register {
          margin-left: 10px;
          background-color: #00ABB3; }
          .nav_monitoring_page .landing_login {
            background-color: #256D85; }
            .nav_monitoring_page .btn_logout_user {
              position: absolute;
              top: 35px;
              right: 0;
              display: none;
              z-index: 99999999999999; }
              .nav_monitoring_page .user_login {
                position: relative;
                cursor: pointer; }
                .nav_monitoring_page .user_login:hover .btn_logout_user {
                  display: block; }
                  .nav_monitoring_page .landing_register:hover {
                    opacity: 0.8;
                    color: white;
                    z-index: 99999999999999; }

.btn_action_food {
  outline: none;
  border: 1px solid white;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 500;
  background-color: #105abf;
  color: white;
  padding: 3px 10px; }
  @media only screen and (max-width: 600px) {
    .btn_action_food {
      font-size: 10px;
      padding: 3px 5px;   }
}

.btn_action_food_delete {
  outline: none;
  border: 1px solid white;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 500;
  background-color: #b40d0d;
  color: white;
  padding: 3px 10px; }
  @media only screen and (max-width: 600px) {
    .btn_action_food_delete {
      font-size: 10px;
      padding: 3px 5px;   }
}

.btn_action_food:hover {
  background-color: #14971f; }

  .btn_action_food_delete:hover {
    background-color: #14971f; }

    .btn_search_chart {
      padding: 5px 20px;
      outline: none;
      border: none;
      background-color: #aa6313;
      color: white;
      border: 1px solid white;
      font-size: 16px;
      font-weight: 500; }

      .btn_search_chart:hover {
        color: orange;
        background-color: #136b42; }

        #opacity_loading_page {
          background-color: #141619;
          position: fixed;
          z-index: 100000000000000004764729344;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          opacity: 0.5; }

          #color_table {
            display: block;
            width: 50px;
            height: 50px;
            border: none;
            background: none;
            cursor: pointer; }
            @media only screen and (max-width: 600px) {
              #color_table {
                width: 40px;
                height: 40px;   }
}

input[type="range"] {
  outline: 0;
  border: 0;
  border-radius: 100px;
  max-width: 100%;
  margin-top: 35px;
  transition: box-shadow 0.2s ease-in-out; }
  @media only screen and (max-width: 600px) {
    input[type="range"] {
      margin-top: 15px;   }
}
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      input[type="range"] {
        overflow: hidden;
        height: 25px;
        -webkit-appearance: none;
        background-color: #ddd;   }
        input[type="range"]::-webkit-slider-runnable-track {
          height: 25px;
          -webkit-appearance: none;
          color: #444;
          transition: box-shadow 0.2s ease-in-out;   }
          input[type="range"]::-webkit-slider-thumb {
            width: 25px;
            -webkit-appearance: none;
            height: 25px;
            cursor: ew-resize;
            background: #fff;
            box-shadow: -330px 0 0 320px #1597ff, inset 0 0 0 25px #1597ff;
            border-radius: 50%;
            transition: box-shadow 0.2s ease-in-out;
            position: relative;   }
            input[type="range"]:active::-webkit-slider-thumb {
              background: #fff;
              box-shadow: -330px 0 0 320px #1597ff, inset 0 0 0 3px #1597ff;   }
}
  input[type="range"]::-moz-range-progress {
    background-color: #43e5f7; }
    input[type="range"]::-moz-range-track {
      background-color: #9a905d; }
      input[type="range"]::-ms-fill-lower {
        background-color: #43e5f7; }
        input[type="range"]::-ms-fill-upper {
          background-color: #9a905d; }

#h4-container {
  width: 80px;
  max-width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative; }
  #h4-container #h4-subcontainer {
    width: 100%;
    position: relative; }
    #h4-container #h4-subcontainer h4 {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      width: 30px;
      height: 30px;
      color: #fff !important;
      font-size: 12px;
      transform-origin: center -10px;
      transform: translateX(-50%);
      transition: margin-top 0.15s ease-in-out, opacity 0.15s ease-in-out; }
      #h4-container #h4-subcontainer h4 span {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #1597ff;
        border-radius: 0 50% 50% 50%;
        transform: rotate(45deg);
        z-index: -1; }

input:not(:active) + #h4-container h4 {
  opacity: 0;
  margin-top: -50px;
  pointer-events: none; }


