{% extends 'index.html' %} {% block content %}
<div class="stream_camera text-center my-3">
    {% if stop == True %}
    <h2>BẠN CHƯA BẬT CAMERA</h2>
    {% else %}
    <div class="d-flex justify-content-around p-1">
        <img
            src="{{ url_for('homeRoute.video') }}"
            style="border-radius: 10px"
            width="45%"
        />
        <img
            src="{{ url_for('homeRoute.video_detect') }}"
            style="border-radius: 10px"
            width="45%"
        />
        <!-- <img src="{{ url_for('homeRoute.video_detect') }}" width="40%" /> -->
    </div>
    {% endif %}

    <!-- <p>View camera</p> -->
    <div class="mt-2">
        <a class="btn btn-success" href="{{ url_for('homeRoute.start_camera') }}"
            >START</a
        >
        <a class="btn btn-dark" href="{{ url_for('homeRoute.video_detect') }}">DETECT</a>
        <a class="btn btn-primary" href="{{ url_for('homeRoute.capture') }}">CAPTURE</a>
        <a class="btn btn-warning" href="{{ url_for('homeRoute.record') }}"
            >START/STOP RECORDING</a
        >
        <a class="btn btn-danger" href="{{ url_for('homeRoute.stop_camera') }}">STOP</a>
    </div>
</div>
{% endblock %}
