<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aquarium Smart</title>

    <link rel="icon" type="image/x-icon" href="/static/image/logo.png" />

    <link rel="stylesheet" href="/static/css/landing_page.css" />
    <!-- swiper csss -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
        integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,200&display=swap"
        rel="stylesheet" />
    <!-- b5 -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <!-- swiper -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script> -->



    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"
        integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- cropper -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css" />
    <link rel="stylesheet" href="" />

    <!-- scss -->
    {% assets "scss_all" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
</head>

<body style="margin: 0; padding: 0; color: white">
    <!-- background -->
    
    <div class="wrap">



        <!-- <canvas id="canvas">
        </canvas> -->
        <img height="100%" width="100%" src="/camera/fish_die" id="camera_open" class="d-none" />

        <!-- banner -->
        <div class="landing_main" id="landing_main_home">
            <nav class="landing_nav-bar">
                <div class="nav_content">
                    <div class="d-flex align-items-center">
                        <div>
                            <a href="/home" class="home_title">Aquarium Smart</a>
                        </div>
                        
                        <div class="home_nav_group">
                            <a href="#info_fish" id="item_nav">Information
                            Fish</a>

                            <a href="/monitoring" id="item_nav">Monitor</a>
                        </div>
                    </div>
                    <div></div>
                    <!-- <div class="d-flex align-items-center user_login">
                        <img src="/static/image/logo.png" class="hom_img_avatar" alt="" />
                        <span id="username_login"></span>
                        <a class="landing_register btn_logout_user" href="/auth/logout">LOGOUT</a>
                    </div> -->
                    <div class="wrap_user_name">
                        <div class="notification_wrap" data-bs-toggle="modal" data-bs-target="#modalNoti">
                            <i class="bi bi-bell-fill"></i>
                            <div class="dot_new_noti"></div>
                        </div>

                        <div class="d-flex align-items-center user_login">
                            <img class="hom_img_avatar" src="/static/image/logo.png" />
                            <span id="username_login"></span>
                            <a class="landing_register btn_logout_user" href="/auth/logout">LOGOUT</a>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="lading_content">
                <h3 class="lading_content_t1">Under Water Scenery</h3>
                <h1 class="lading_content_t2">
                    Beautiful Ocean Life
                </h1>

            </div>
            <div class="lading_fish">
                <img src="/static/image/fish.png" alt="" class="fish1" />
                <img src="/static/image/fish.png" alt="" class="fish2" />
                <img src="/static/image/fish.png" alt="" class="fish3" />
                <img src="/static/image/fish.png" alt="" class="fish4" />
                <img src="/static/image/fish.png" alt="" class="fish5" />
                <img src="/static/image/fish.png" alt="" class="fish6" />
            </div>
            <div class="landing_bubble">
                <img src="/static/image/bubble.png" class="b1" alt="" />
                <img src="/static/image/bubble.png" class="b1" alt="" />
                <img src="/static/image/bubble.png" class="b1" alt="" />
                <img src="/static/image/bubble.png" class="b1" alt="" />
                <img src="/static/image/bubble.png" class="b1" alt="" />
                <img src="/static/image/bubble.png" class="b1" alt="" />
                <img src="/static/image/bubble.png" class="b1" alt="" />
            </div>
        </div>
        <!-- end banner  -->
        <!-- main content -->
        <div class="content">
            <!--Info fish -->


            <div id="info_fish">
                <div class="header_info_fish">
                    <h3 class="title_info_fish">RESIDENTS IN THE CITY</h3>

                </div>

                <div class="owl-carousel owl-theme" id="wrap_my_carousel">
                    {% if data %}
                    {% for item in data %}
                    <!-- <li>{{item.fish_name}}</li> -->
                    <div class="item">
                        <div class="avatar">
                            <img src={{item.avatar}} alt="" cl>
                        </div>
                        <div class="content_profile">
                            <h4>{{item.fish_name}}</h4>
                            <p class="fish_name_origin">{{item.fish_type}}</p>
                            <p class="note_profile">{{item.note }}</p>
                            <button class="info_profile" data-id_info={{item.id}}>MORE INFORMATION</button>
                        </div>

                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="item">
                        <div class="avatar">
                            <img src="/static/image/f1.jpg" alt="" cl>
                        </div>
                        <div class="content_profile">
                            <h4>NoName</h4>
                            <p class="fish_name_origin">Types of fish</p>
                            <p class="note_profile">01/01/2021</p>
                            <button>MORE INFORMATION</button>

                        </div>

                    </div>
                    {% endif %}




                </div>
                <div class="text-center">
                    <a href="/profile" class="btn_all_profile">SEE ALL</a>

                </div>
            </div>




            <!-- end info fish -->


            <!-- Modal Detail Info -->
            <div class="modal fade text-dark" id="modal_element" tabindex="-1" aria-labelledby="modal_Label"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header text-dark">
                            <h1 class="modal-title fs-5 text-dark" id="modal_Label"></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="" alt="" id="img_info_fish" width="100%" height="300" />
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Deserunt in harum distinctio nulla, autem nemo modi facilis
                                perferendis? Sapiente porro placeat repellendus excepturi
                                provident iure tempore, consequuntur quidem et consequatur?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End modal detail info -->

            <!--  end fish profile -->

            <div class="train_name_wrap" id="profile_fish_wrap">

                <div class="train_name-header">
                    <div>
                        <p>SUBMISSION TO THE CITY</p>
                    </div>
                </div>
                <div id="train_name" class="profile_fish">

                    <div id="train_name-info">
                        <p class="train_title" id="title_profile">
                            PROFILE FOR JOINING A SMART CITY</p>
                        <div class="content_description">
                            <p>Every resident in the city has his own profile, before releasing into the lake, please enter your profile for your fish
                            to proceed to join the smart city!. Please save the necessary information and notes about the fish, so that you can
                            easily look up when needed</p>

                            <p>
                                So that when you are not around, other people can also see the information and easily care for your fish
                            </p>
                            <p>This information can be edited whenever you want. Please enter information and press <B>SAVE INFOMATION</B> you !. Don't let your fish be homeless</p>

                        </div>

                    </div>
                    <div class="form-group text-start" id="train_name-form">
                        <!-- label -->

                        <form id="upload_profile" method="POST" enctype="multipart/form-data">

                            <div class="mb-3">
                                <label bel for="exampleFormControlInput1" class="form-label">Name and surname of the declarant
                                    </label>
                                <input type="text" class="form-control" id="input_username" placeholder="Enter your name ..."
                                    required />
                            </div>

                            <div class="mb-3">
                                <label bel for="exampleFormControlInput1" class="form-label">Name of the fish</label>
                                <input type="text" class="form-control" id="input_fish_type" placeholder="Enter name of the fish..."
                                    required />
                            </div>
                            <div class="mb-3">
                                <label bel for="exampleFormControlInput1" class="form-label">Release date in the lake</label>
                                <input type="date" value="" class="form-control" id="input_time_start"
                                    placeholder="dd-mm-yyyy" min="1997-01-01" max="2030-12-31" required />

                            </div>
                            <div class="mb-3">
                                <label bel for="exampleFormControlInput1" class="form-label">Identifier for your fish</label>
                                <input type="text" class="form-control" id="input_fish_name" placeholder="Enter identifier..."
                                    required />
                            </div>


                            <div class="mb-3">
                                <label for="file" class="form-label">Avatar for fish</label>
                                <input class="form-control" accept="image/*" type="file" required id="file-input_avatar"
                                    name="avatar_fish" />
                            </div>
                            <!-- <div class="mb-3">
                            <label for="file" class="form-label">Hình liên quan</label>
                            <input class="form-control" accept="image/*" type="file" required id="file-input"
                                name="file" />
                        </div> -->



                            <div class="mb-3">
                                <label bel for="exampleFormControlInput1" class="form-label">More notes on fish</label>
                                <textarea style="color : black ;" class="form-control" name="" id="input_not_fish"
                                    cols="30" rows="2" placeholder="Enter notes..."></textarea>
                            </div>
                            <div class="loading_profile hide_element">
                                <div class="text-center">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </div>


                            <input style="background-color: #009a92; color: white; font-weight: 500;  border: 1.5px solid #25f192;"
                                type="button" class="btn save-profile w-100 shadow-lg" id="btn_submit_profile"
                                value="CLICK TO SAVE PROFILE" />


                        </form>

                        <!-- end label -->

                        <!-- upload image -->





                    </div>
                </div>

            </div>

            <!-- fish profile -->

            <!-- train name -->
            <div class="train_name_wrap">


                <div class="train_name-header">
                    <div>
                        <p>NAME RESIDENTS</p>
                    </div>
                </div>
                <div id="train_name">
                    <div id="train_name-info">
                        <p class="train_title" id="title_profile" style="text-transform: uppercase;">
                            You want your fish name to be visible from the camera</p>
                        <p class="train_description">
                            Nothing is impossible ! Please provide information in the form below. Collect pictures of fish you want to name and
                            upload. The more data, the higher the success rate and of course if too little data the success rate will be low.
                        </p>
                        <p>
                            Remember to click <b> COMPLETE TRAINING PROFILE</b> only when you
                            complete your dataset.
                        </p>
                        <p>
                            <b>Note</b>: The fish data you want to order must be taken from the aquarium, avoid extraneous data
                        </p>

                        <p class="seen-sataus" data-bs-toggle="modal" data-bs-target="#modalStatusTrain" id="show_status_train">Click to view training status</p>

                        <!-- <p style="color: orange" class="text_complete_train"></p> -->
                    </div>
                    <div class="form-group text-start" id="train_name-form">
                        <!-- label -->

                        <div class="train_name-form-body">
                            <label bel for="exampleFormControlInput1" class="form-label">Enter the name you want</label>
                            <input type="email" class="form-control" id="input_label" placeholder="Enter name fish..."
                                required />
                            <div>
                                <label for="exampleFormControlInput1" class="form-label mt-2">Name
                                for this training:
                                    <span id="label_present" style="color: orange; font-size: 20px"></span>
                                </label>
                                <p style="margin: 0; padding-bottom: 10px; font-size: 14px; text-align: justify">
                                    Note: You only need to enter the name once, then
                                    please upload pictures
                                </p>
                            </div>
                            <div class="d-flex justify-content-lg-between align-content-center">
                                <button style="
                                           
                                            background-color: #009a92;
                                            color: white;
                                            font-weight: 500;
                                            border: 1.5px solid #25f192;
                                        " class="btn mt-1 w-100 me-1" data-bs-toggle="modal" id="btn_save_label_temp"
                                    data-bs-target="#modalSaveName">
                                    Save name
                                </button>
                                <button style="
                                            
                                            background-color: #009a92;
                                            color: white;
                                            font-weight: 500;
                                            border: 1.5px solid #25f192;
                                        " class="btn mt-1 w-100" data-bs-toggle="modal"
                                    data-bs-target="#modalShowLabel" id="btn_show_label">
                                    Given name
                                </button>

                            </div>
                        </div>
                        <!-- end label -->

                        <!-- upload image -->
                        <form id="upload_file" method="POST" enctype="multipart/form-data" style="
                                    /* background-color: #1987545e;
                                    padding: 10px;
                                    border-radius: 10px;
                                    box-shadow: 1px 3px 21px #48bf88;*/
                                    margin-top: 20px; 
                                ">
                            <label for="file" class="form-label">Upload fish pictures</label>
                            <input class="form-control" accept="image/*" type="file" required id="file-input"
                                name="file" />
                            <p style="margin: 0; padding-top: 10px; font-size: 14px; text-align: justify">
                                Note: You need to circle the correct fish area you want to name
                            </p>
                            <!-- preview image -->
                            <div class="box-2">
                                <div class="result"></div>
                            </div>
                            <div class="box-2 img-result hide">
                                <img class="cropped" src="" alt="" />
                            </div>
                            <!-- end preview -->

                            <p class="coordinates" style="font-size: 20px"></p>

                            <input style="background-color: #009a92;  font-weight: 500; color: white;  border: 1.5px solid #25f192;"
                                type="button" class="btn save w-100 shadow-lg" value="CLICK TO SAVE DATA" />
                        </form>
                        <a class="btn btn-success mt-4 w-100" data-bs-toggle="modal" style=" font-weight: 500;" id="btn_complete"
                            data-bs-target="#modalAuthTrain">COMPLETE TRAINING</a>
                    </div>
                </div>

            </div>

            <!-- End train name -->


        </div>
    </div>

    <!-- Toast message -->

    <!-- Toast start train -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="toastStart" class="toast text-bg-success border-0" role="alert" aria-live="assertive"
            aria-atomic="true" data-bs-animation="true" data-bs-delay="10000">
            <div class="toast-header">
                <strong class="me-auto">Thông báo</strong>
                <small class="time_start_toast"></small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body-start p-2">
                Bắt đầu tiến hành đào tạo bạn sẽ sớm nhận được kết quả. Hãy kiên nhẫn chờ đợi
                nhé !!
            </div>
        </div>
    </div>
    <!-- Toast train complete -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="toastEnd" class="toast text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true"
            data-bs-animation="true" data-bs-delay="10000">
            <div class="toast-header">
                <strong class="me-auto">Thông báo</strong>
                <small class="time_end_toast"></small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body-end p-2">
                Đào tạo hoàn thành ! Nếu chưa thành công nhận dạng đúng, bạn hãy đào tạo lại với
                dữ liệu nhiều hơn nhé. Cám ơn bạn !
            </div>
        </div>
    </div>

    <!-- Toast upload label success -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="toastUploadLabel" class="toast text-bg-success border-0" role="alert" aria-live="assertive"
            aria-atomic="true" data-bs-animation="true" data-bs-delay="5000">
            <div class="toast-header">
                <strong class="me-auto">Thông báo</strong>
                <small class="time_upload"></small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body-end p-2" id="toast_success_body"></div>
        </div>
    </div>

    <!-- Toast upload label fail -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="toastUploadLabelFail" class="toast text-bg-danger border-0" role="alert" aria-live="assertive"
            aria-atomic="true" data-bs-animation="true" data-bs-delay="5000">
            <div class="toast-header">
                <strong class="me-auto">Thất bại</strong>
                <small class="time_upload_fail"></small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body-end p-2" id="toast_fail_body"></div>
        </div>
    </div>

    <!-- End Toast message -->

    <!-- modal auth train -->
    <div class="modal fade text-dark" id="modalAuthTrain" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-dark " id="exampleModalLabel">
                        Complete the training profile
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: justify">
                    <b style="font-size: 18px">Are you sure you want to train ?</b> <br />
                    The information you also provide must be good enough and at least <b id="min_train_label">10</b> the new image
                    maybe
                    success <br />
                    If the information you also give us is not enough, the failure rate is very
                    High? Or think carefully before pressing confirm
                    <div id="data_present_for_train" style="color : #136965; font-size : 20px; font-weight: 500;">
                        Waiting...
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        Back
                    </button>
                    <a type="button" id="btn_agree_train"
                        class="btn btn-success">Enough training information now</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal -->

    <!-- modal save label -->
    <div class="modal fade text-dark" id="modalSaveName" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-dark" id="exampleModalLabel">
                        Save pet name
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: justify">
                    <b style="font-size: 18px">You definitely want to save this name for your pet
                        ?</b>
                    <br />If you've already given your training a name, there's no need to reset it and
                    just load the image data. You can check in
                    <b>"Name for this training"</b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        Back
                    </button>
                    <a type="button" id="btn_save_label" class="btn btn-success">Save</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal -->

    <!-- modal show label -->
    <div class="modal fade text-dark" id="modalShowLabel" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-dark" id="exampleModalLabel">
                        Trained name is in the system
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: justify">
                    <!-- <div id="label_show_intro">

                        Nhấp <b>Hiện thị tên đã đào
                            tạo</b> để hiện thị tên thú cưng đã có trong hệ thống
                    </div> -->
                    <div id="label_show">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">Name</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Edit</th>
                                </tr>
                            </thead>
                            <tbody class="text-center" id="table_body">

                            </tbody>
                            <p>Click <b>ADD</b> to select the training name and add data for the individual name
                                that</p>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal -->

    <!-- <button id="btn_notify" >Notify me!</button> -->
    <!-- modal delete label -->
    <div class="modal fade text-dark" id="modalDeleteFishName" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-dark" id="exampleModalLabel">
                        Xóa tên cá 
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: justify">
                   <p id="text_confirm_delete_label" style="margin : 0"></p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Back
                    </button>
                    <a type="button"  class="btn btn-danger" id="btn_delete_fish_name">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal -->

    <!-- modal detail profile fish -->
    <div class="modal fade" id="modalProfileFish" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="overflow: hidden;border-radius: 20px;">
                <!-- <div class="modal-header">
                    <h1 class="modal-title fs-5 text-dark" id="exampleModalLabel">Thông tin cư dân</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div> -->
                <div>
                    <div>

                        <div class="header_wrap">

                            <div class="header_detail_info">
                                <div>
                                    <img src="/static/image/fish1.jpg" alt="" id="avatar_info">

                                </div>
                                <div>

                                    <button class="edit_info">
                                        UPDATE
                                    </button>
                                    <button class="delete_info">
                                        DELETE
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="info_content_detail">
                            <form id="update_profile" method="POST" enctype="multipart/form-data">
                                <h4 class="fish_name_info">Fish Gold</h4>
                                <div class="mb-2">
                                    <div class="mb-1" style="font-weight: 500;">The Applicant</div>
                                    <input class=" form-control username_info" type="text" id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                                <div class="mb-2">
                                    <div class="mb-1" style="font-weight: 500;">Type of fish</div>
                                    <input class=" form-control fish_type_info" type="text" id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                                <div class="mb-2">
                                    <div class="mb-1" style="font-weight: 500;">Date of joining the city</div>
                                    <input class=" form-control start_date_info" type="date" id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                                <div class="mb-2">
                                    <div class="mb-1" style="font-weight: 500;">Note</div>
                                    <textarea class="form-control note_info" name="" id="" cols="30" rows="2"></textarea>
                                    <!-- <textarea class="form-control note_info" type="email"  id="exampleInputEmail1" aria-describedby="emailHelp"> -->
                                </div>
                                <div class="mb-2">
                                    <div class="mb-1" style="font-weight: 500;">Change Avatar</div>
                                    <input class="form-control" accept="image/*" type="file" required id="file-input_avatar"
                                        name="avatar_fish_update" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Sửa</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div> -->
        </div>
    </div>
    </div>
    <!-- end  modal detail profile fish -->

    <!-- modal notification  -->
    <!-- Modal -->
    <div class="modal fade" id="modalNoti" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-dark" id="exampleModalLabel">Notification</h1>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="px-3" style="border-bottom: 1px solid #ccc;">
                    <div class="mb-3">
                        <h6 class="my-2 text-dark" id="title_email">Sign up for notifications to your email</h6>
                        <div class="hide_element" id="loading_email_register">
                
                            <div class="d-flex justify-content-center mb-2">
                                <div class="spinner-border text-success" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group" id="email_register">
                            
                            <input type="email" class="form-control" placeholder="Enter your email..."
                                aria-label="Recipient's username" aria-describedby="button-addon2" name="email" id="email_notify">
                            <button class="btn btn-success" type="button" id="btn_confirm_email">Register</button>
                
                        </div>
                        <div class="input-group" id="email_already">
                            <input type="email" class="form-control" placeholder="Enter your email..."
                                aria-label="Recipient's username" aria-describedby="button-addon2" name="email"
                                id="email_notify_already">
                            <button class="btn btn-success" type="button" id="btn_edit_email">Edit</button>
                            <button class="btn btn-danger" type="button" id="btn_delete_email">Delete</button>
                
                
                        </div>
                        <div class="form-text" id="subtile_email">Please enter the correct email to receive notifications</div>
                    </div>
                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                </div>
                
                <div class="modal-body text-dark ">
                    <button class="btn btn-danger mb-2 " id="btn_clear_notify">Clear all notification</button>
                <div class="content_notify">
                    
                </div>

                    
                </div>
                
            </div>
        </div>
    </div>
    <!-- end modal notification  -->

    <!-- modal status train -->
    <div class="modal fade text-dark" id="modalStatusTrain" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-dark" id="exampleModalLabel">
                        Training status
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: justify">
                    <!-- <div id="label_show_intro">
    
                            Nhấp <b>Hiện thị tên đã đào
                                tạo</b> để hiện thị tên thú cưng đã có trong hệ thống
                        </div> -->
                        <button class="btn btn-danger mb-2" id="btn_clear_status_train">Clear all training status</button>
                    <div id="label_show">
                        <!-- <div class="table-responsive"> -->
                        <table class="table table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">Name</th>
                                    <th scope="col">Start</th>
                                    <th scope="col">End</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Description</th>
                                </tr>
                            </thead>
                            <tbody class="text-center" id="table_status_train">
    
                            </tbody>
                            
                        </table>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal status train -->


</body>
<!-- <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"
    integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI"
    crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
<!-- <script src="/static/js/notify.js" type="module" ></script> -->
<script>

    function getCookie(name) {
        function escape(s) {
            return s.replace(/([.*+?\^$(){}|\[\]\/\\])/g, "\\$1");
        }
        var match = document.cookie.match(
            RegExp("(?:^|;\\s*)" + escape(name) + "=([^;]*)")
        );
        return match ? match[1] : null;
    }
    const usernameLogin = getCookie("username");
    document.querySelector("#username_login").innerHTML = usernameLogin;
    
    

</script>

<script src="/static/js/upload_labels.js" type="text/javascript"></script>
<!-- <script src="/static/js/mqtt.js" type="text/javascript"></script> -->
<!-- <script src="/static/js/food.js" type="text/javascript"></script> -->

<script src="/static/js/check_train.js"></script>
<script src="/static/js/my_swiper.js"></script>
<script src="/static/js/info_fish.js"></script>
<script src="/static/js/profile_fish.js"></script>
<script src="/static/js/email_notify.js"></script>


</html>