<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aquarium Smart</title>
    <link rel="icon" type="image/x-icon" href="/static/image/icon_fish.png" />

    <link rel="stylesheet" href="/static/css/landing_page.css" />
    <!-- font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,200&display=swap"
        rel="stylesheet" />
    <!-- b5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <!-- socket -->

</head>

<body style="margin: 0; padding: 0; color: white">
    <div class="landing_main">
        <nav class="landing_nav-bar">
            <div class="nav_content">
                <div>
                    <a style="font-size: 25px; color: #88e7f4; font-weight: 500">Aquarium Smart</a>
                    <!-- <a>CAMERA</a> -->
                </div>
                <div>
                    <button class="landing_login" data-bs-toggle="modal"
                        data-bs-target="#login_modal">
                        LOGIN
                    </button>
                    <button class="landing_register" data-bs-toggle="modal"
                        data-bs-target="#register_modal">
                        REGISTER
                    </button>
                </div>
            </div>
        </nav>
        <div class="lading_content">
            <h3 style="font-size: 20px; margin-bottom: 0px">Under Water Scenery</h3>
            <h1 style="font-size: 60px; margin-bottom: 15px; margin-top: 10px">
                Beautiful Ocean Life
            </h1>
            <button class="landing_explore" data-bs-toggle="modal" data-bs-target="#login_modal">
                EXPLORE
            </button>
        </div>
        <div class="lading_fish">
            <img src="/static/image/fish.png" alt="" class="fish1" />
            <img src="/static/image/fish.png" alt="" class="fish2" />
            <img src="/static/image/fish.png" alt="" class="fish3" />
            <img src="/static/image/fish.png" alt="" class="fish4" />
            <img src="/static/image/fish.png" alt="" class="fish5" />
            <img src="/static/image/fish.png" alt="" class="fish6" />
        </div>

        <div class="landing_bubble">
            <img src="/static/image/bubble.png" class="b1" alt="" />
            <img src="/static/image/bubble.png" class="b1" alt="" />
            <img src="/static/image/bubble.png" class="b1" alt="" />
            <img src="/static/image/bubble.png" class="b1" alt="" />
            <img src="/static/image/bubble.png" class="b1" alt="" />
            <img src="/static/image/bubble.png" class="b1" alt="" />
            <img src="/static/image/bubble.png" class="b1" alt="" />
        </div>

    </div>

    <!-- Modal Login -->
    <div class="modal modal-lg fade " id="login_modal" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content"
                style=" box-shadow: 2px 15px 70px rgb(0, 0, 0, 0.5);overflow: hidden; border:none">
                <div class=" d-flex text-white">
                    <div class="img_bgc-login" style="width: 50% ;">
                        <!-- <img src="/static/image/background_2.png" width="100%" height="100%" alt=""> -->
                    </div>
                    <div class=""
                        style="width: 50%; background-color: #12635e; padding : 50px 20px">

                        <div class="text-center mb-1">

                            <h1 class="modal-title pb-3" id="exampleModalLabel">
                                ĐĂNG NHẬP
                            </h1>
                            <!-- <button style="background-color: #fff; " type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button> -->
                        </div>
                        <form style="width: 100% ;" action="http://127.0.0.1:5000/auth/login"
                            method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label">Nhập tên đăng nhập</label>
                                <input type="text" class="form-control" id="username"
                                    name="username" placeholder="Nhập tên của bạn..." />
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Nhập mật khẩu</label>
                                <input type="password" class="form-control" id="password"
                                    name="password" placeholder="Nhập mật khẩu..." />
                            </div>
                            <button type="submit" class="btn  btn-success  w-100 fs-6">
                                ĐĂNG NHẬP NGAY
                            </button>
                        </form>
                        <p class="my-2 text-center" style="margin:0;">Chưa có tài khoản ?</p>

                        <div class="">
                            <button type="button" style="background-color: #009a92 ; color : white"
                                class="btn  w-100 fs-6" data-bs-toggle="modal"
                                data-bs-target="#register_modal">
                                ĐĂNG KÝ
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Login -->

    <!-- Modal Register -->
    <div class="modal modal-lg fade " id="register_modal" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="
                        border:none;
                        overflow: hidden;
                        box-shadow: 2px 15px 70px rgb(0, 0, 0, 0.5);
                    ">
                <div class="d-flex text-white">
                    <div class="img_bgc-login" style="width: 50% ;">
                        <!-- <img src="/static/image/background_2.png" width="100%" height="100%" alt=""> -->
                    </div>
                    <div style="width: 50%; background-color: #12635e; padding : 30px 20px">

                        <div class="text-center">
                            <h1 class="modal-title pb-3" id="exampleModalLabel">
                                ĐĂNG KÝ
                            </h1>
                            <!-- <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            ></button> -->
                        </div>
                        <form action="http://127.0.0.1:5000/auth/register" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label">Nhập tên đăng ký</label>
                                <input type="text" class="form-control" id="username"
                                    name="username" placeholder="Nhập tên của bạn" required />
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Mật khẩu</label>
                                <input type="password" class="form-control" id="password"
                                    name="password" placeholder="Nhập mật khẩu" required />
                            </div>
                            <div class="mb-3">
                                <label for="password_again" class="form-label">Nhập lại mật
                                    khẩu</label>
                                <input type="password" class="form-control" id="password_again"
                                    name="password_again" placeholder="Nhập lại mật khẩu"
                                    required />
                            </div>
                            <button type="submit" class="btn btn-success w-100 fs-6">
                                ĐĂNG KÝ NGAY
                            </button>
                        </form>
                        <p class="my-2 text-center" style="margin:0;">Đã có tài khoản ?</p>

                        <div class="">
                            <button style="background-color: #009a92 ; color : white" type="button"
                                class="btn w-100 fs-6" data-bs-toggle="modal"
                                data-bs-target="#login_modal">
                                TRỞ VỀ ĐĂNG NHẬP
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- End Modal Register -->

</body>

</html>