

.control_deivice {
    background-color: rgb(110, 19, 19);
    width: 95%;
    height: 80vh;
    margin : 0 ; 
    transform: translateX(-50%);
    display: block;
    left: 50%;
    z-index: 1000;
    position: absolute;
    // left : 0%;
    top: 90px ;
    border-radius: 20px;    
}