$border-color-element-control : #1dc577;

.content {
    // background-color: #60c094;
    padding: 50px;

    #train_name {
        // border: 1px solid #7bc3be;
        // padding : 10px 0;
        // box-shadow: -2px 3px 21px 2px #269b93;
        .train_name-header {
            // padding: 10px;
            margin-bottom: 20px;
            
                div {
                    border: 1.5px solid $border-color-element-control;
                    width: 100%;
                    padding: 10px;
                    background-color: #009688;
                }
            
                p {
                    font-size: 25px;
                    margin: 0;
                    text-align: center;
                }
        }


        &-info {
            h3 {
                font-size: 50px;
            }

            p {
                margin-top: 20px;
                font-size: 20px;
                text-align: justify;
            }
        }

        &-form {
            background-color: #12635e;

            // background-color: #ccc;
            padding: 25px;
            // border-radius-top-left: 20px;
            border-top-left-radius: 40px;
            border-bottom-right-radius: 40px;
            border: 1px solid #7bc3be;
            box-shadow: -2px 3px 21px 2px #269b93;

        }
    }


    #info_fish {
        overflow: hidden;
        margin-bottom: 100px;
        height: 430px;
        border-radius: 20px;
        background-color: #2c9072;
        border: 2px solid #20c997;
        box-shadow: -2px 4px 44px 18px #269b93;


    }

}

// swiper
.swiper {
    width: 100%;
    height: 100%;
    background-color: #2c9072;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    // background: #fff;
    // background-color: #2c9072;
    background-image: linear-gradient(to right, #259f7a, #138194);



    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


// .swiper {
//     margin-left: auto;
//     margin-right: auto;
// }
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: white;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: 'next';
    font-size: 31px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: 'prev';
    font-size: 31px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
